<section class="container" id="portfolio">
    <div class="main-title">
        <h2>My Work</h2>
    </div>
    <p class="port-text">
        Here is some of my work that I've done in various programming languages.
    </p>
    <div class="portfolios">
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/images/Calculator.jpg" alt="">
            </div>
            <div class="hover-items">
                <h3>Project Source</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="/assets/images/Portfolio.jpg" alt="">
            </div>
            <div class="hover-items">
                <h3>Project Source</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                   
                </div>
            </div>
        </div>
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/images/react.jpg" alt="">
            </div>
            <div class="hover-items">
                <h3>Project Source</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                    
                </div>
            </div>
        </div>
    
        <div class="portfolio-item">
            <div class="image">
                <img src="assets/images/project.png" alt="">
            </div>
            <div class="hover-items">
                <h3>Project Source</h3>
                <div class="icons">
                    <a href="#" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                  
                </div>
            </div>
        </div>
    </div>
</section>

