<div class="cards">
    <div class="main-title">
        <h2>My Work</h2>
    </div>
    <div class="card-item">
        <!-- <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/Calculator.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Calculator</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div> -->
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/Portfolio.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">React-Portfolio</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="https://nhlalala-mudanisi-react-portfolio.vercel.app/" class="btn btn-primary">Portifolio</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/psl-match.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Psl_match_reservation
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="https://psl-match-reservation.vercel.app/" class="btn btn-primary">Psl-reservation</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="../../../assets/images/project.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">HTML-Tutorial</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="https://github.com/nhlalala9/React-Tutorial" class="btn btn-primary">HTML-Tutorial</a>
            </div>
        </div>
    </div>
</div>