<section class="container-about" id="about">
    <div class="main-title">
        <h2>About me</h2>
    </div>
    <div class="about-container">
        <div class="left-about">
            <h4>Information About me</h4>
            <p>
               I am an open-minded, technical person that enjoys working with computers and learning new technologies. I have 1 year 
                experience working as a Full Stack Developer. I have a passion to learn programming and I want to grow my skills as a
                software developer.
            </p>
        </div>
    </div>
    <h4 class="stat-title">My Timeline</h4>
    <div class="timeline">
        <div class="timeline-item">
            <div class="tl-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                    class="bi bi-calendar-range-fill" viewBox="0 0 16 16">
                    <path
                        d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 7V5H0v5h5a1 1 0 1 1 0 2H0v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9h-6a1 1 0 1 1 0-2h6z" />
                </svg>
            </div>
            <p class="tl-duration">2022-2023</p>
            <h5>Intern Full Stack Developer<span> Digital Acadeny</span></h5>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe quasi vero fugit.
            </p>
        </div>
    </div>
</section>