<div class="about-stats">
    <h4 class="stat-title">My Skills</h4>
    <div class="progress-bars">
        <div class="progress-bar">
            <p class="prog-title">Angular+2</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">CSS</p>
            <div class="progress-con">
                 
            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">Javascript</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">ReactJS</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">NodeJS(Express.js)</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">Typescript</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">C#</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">C++</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">PostgreSQl</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">Bootstrap</p>
            <div class="progress-con">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 48 48">
                    <path fill="#673ab7"
                        d="M42,37c0,2.762-2.238,5-5,5H11c-2.761,0-5-2.238-5-5V11c0-2.762,2.239-5,5-5h26c2.762,0,5,2.238,5,5 V37z">
                    </path>
                    <path fill="#fff"
                        d="M33.03,25.6c-0.65-0.9-1.59-1.52-2.8-1.85c0,0,1.02-0.37,1.94-1.75c0.55-0.88,0.83-1.94,0.83-3.18 c0-2.15-0.78-3.8-2.34-4.93C29.1,12.76,27.34,12,24.35,12H15v24h10.43c2.83-0.02,4.96-0.63,6.41-1.8c1.44-1.19,2.16-2.95,2.16-5.3 C34,27.6,33.68,26.5,33.03,25.6z M21,16c0,0,4.17,0,4.25,0c1.52,0,2.75,1.23,2.75,2.75c0,1.52-1.23,2.75-2.75,2.75 c-0.08,0-4.25,0-4.25,0V16z M26,32h-5v-6h5c1.66,0,3,1.34,3,3C29,30.66,27.66,32,26,32z">
                    </path>
                </svg>
            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">Git</p>
            <div class="progress-con">
                <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                width="24" height="24"
                viewBox="0 0 48 48">
                <path fill="#F4511E" d="M42.2,22.1L25.9,5.8C25.4,5.3,24.7,5,24,5c0,0,0,0,0,0c-0.7,0-1.4,0.3-1.9,0.8l-3.5,3.5l4.1,4.1c0.4-0.2,0.8-0.3,1.3-0.3c1.7,0,3,1.3,3,3c0,0.5-0.1,0.9-0.3,1.3l4,4c0.4-0.2,0.8-0.3,1.3-0.3c1.7,0,3,1.3,3,3s-1.3,3-3,3c-1.7,0-3-1.3-3-3c0-0.5,0.1-0.9,0.3-1.3l-4-4c-0.1,0-0.2,0.1-0.3,0.1v10.4c1.2,0.4,2,1.5,2,2.8c0,1.7-1.3,3-3,3s-3-1.3-3-3c0-1.3,0.8-2.4,2-2.8V18.8c-1.2-0.4-2-1.5-2-2.8c0-0.5,0.1-0.9,0.3-1.3l-4.1-4.1L5.8,22.1C5.3,22.6,5,23.3,5,24c0,0.7,0.3,1.4,0.8,1.9l16.3,16.3c0,0,0,0,0,0c0.5,0.5,1.2,0.8,1.9,0.8s1.4-0.3,1.9-0.8l16.3-16.3c0.5-0.5,0.8-1.2,0.8-1.9C43,23.3,42.7,22.6,42.2,22.1z"></path>
            </svg>
            </div>
        </div>
    </div>
</div>