<div class="about-stats">
    <h4 class="stat-title">My Skills</h4>
    <div class="progress-bars">
        <div class="progress-bar">
            <p class="prog-title">Angular+2</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">Css3</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">Javascript</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">ReactJS</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">NodeJS(Express.js)</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">Typescript</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">C#</p>
            <div class="progress-con">

            </div>
        </div>
        <div class="progress-bar">
            <p class="prog-title">C++</p>
            <div class="progress-con">

            </div>
        </div>
    </div>
</div>